---
layout: default
---

<article>
  <header>
    <div class="jumbotron">
      <h1 class="display-3">{{ page.title | escape }}</h1>
      <p class="text-muted">
        <time datetime="{{ page.date | date_to_xmlschema }}">
          {%- assign date_format = "%b %-d, %Y" -%} {{ page.date | date:
          date_format }}
        </time>
        {%- if page.author -%} • {{ page.author }} {%- endif -%}
      </p>
      {%- if page.lead -%}
      <p class="lead">{{ page.lead }}</p>
      {%- endif -%}
    </div>
  </header>

  <section>{{ content }}</section>
</article>

<script src="https://giscus.app/client.js"
        data-repo="andregeuze/andregeuze"
        data-repo-id="MDEwOlJlcG9zaXRvcnk4OTA3Mzg4MQ=="
        data-category="Q&A"
        data-category-id="DIC_kwDOBU8o2c4Ck9Hf"
        data-mapping="pathname"
        data-strict="0"
        data-reactions-enabled="1"
        data-emit-metadata="0"
        data-input-position="top"
        data-theme="light_protanopia"
        data-lang="en"
        crossorigin="anonymous"
        async>
</script>