---
layout: default
---

<article>
  <header>
    <div class="jumbotron">
      <h1 class="display-3">{{ page.title | escape }}</h1>
      <p class="text-muted">
        <time datetime="{{ page.date | date_to_xmlschema }}">
          {%- assign date_format = "%b %-d, %Y" -%} {{ page.date | date:
          date_format }}
        </time>
        {%- if page.author -%} • {{ page.author }} {%- endif -%}
      </p>
      {%- if page.lead -%}
      <p class="lead">{{ page.lead }}</p>
      {%- endif -%}
    </div>
  </header>

  <section>{{ content }}</section>
</article>
